#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab > #backgroundBox {
  position: absolute;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg {
  position: absolute;
  width: 359.9999999999999px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Bg span#rtr-s-Bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_202 {
  position: absolute;
  width: 36.0px;
  height: 34.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_304 {
  position: absolute;
  width: 18.18000030517578px;
  height: 33.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 input::-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 input:-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 input:-ms-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 {
  position: absolute;
  width: 309.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 .valign {
  vertical-align: middle;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_214 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 input::-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 input:-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 input:-ms-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 {
  position: absolute;
  width: 309.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 .valign {
  vertical-align: middle;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Panel_1 {
  width: 360.0px;
  height: 104.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 {
  position: absolute;
  width: 360.0px;
  min-height: 104.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(0,0,0,0.25));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_3 {
  position: absolute;
  width: 194.0009765625px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_1 {
  position: absolute;
  width: 15.0px;
  height: 11.920103073120117px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_2 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_3 {
  position: absolute;
  width: 7.0px;
  height: 7.699999809265137px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_4 {
  position: absolute;
  width: 7.0px;
  height: 6.299999237060547px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Image_1 {
  position: absolute;
  width: 32.334611892699854px;
  height: 32.028985507246404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Path_5 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 input::-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 input:-moz-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 input:-ms-input-placeholder {
  color: #49454E;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 {
  position: absolute;
  width: 309.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 .valign {
  vertical-align: middle;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 {
  position: absolute;
  width: 68.435546875px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aa8ac5c6-1d13-4cd2-8a77-8a83163dafab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}