#s-df51227f-ae1a-4b96-aa41-59005030e7e6 > #backgroundBox {
  position: absolute;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg {
  position: absolute;
  width: 359.9999999999999px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg span#rtr-s-Bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_202 {
  position: absolute;
  width: 36.0px;
  height: 34.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_304 {
  position: absolute;
  width: 18.18000030517578px;
  height: 33.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_56 {
  position: absolute;
  width: 79.17968750000001px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_56 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_56 .valign {
  vertical-align: top;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_56 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_56 span#rtr-s-Paragraph_56_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_53 {
  position: absolute;
  width: 100.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_53 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Ellipse_8 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_200 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_201 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_203 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_204 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_205 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_212 {
  position: absolute;
  width: 322.3292236328125px;
  height: 1.5px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_1 {
  position: absolute;
  width: 79.17968750000001px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_2 {
  position: absolute;
  width: 100.0px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Ellipse_1 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 input::-moz-placeholder {
  color: #49454E;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 input:-moz-placeholder {
  color: #49454E;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 input:-ms-input-placeholder {
  color: #49454E;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 {
  position: absolute;
  width: 288.79883478572543px;
  height: 45.99999831894672px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 47px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_2 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_3 {
  position: absolute;
  width: 23.37038803100586px;
  height: 17.46666717529297px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 {
  position: absolute;
  width: 56.0px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 1px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EADDFF;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Hotspot_4 {
  position: absolute;
  width: 330.579223632813px;
  height: 67.37197392923298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_191 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_71 {
  position: absolute;
  width: 7.409999847412109px;
  height: 12.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_1 {
  position: absolute;
  width: 7.409999847412109px;
  height: 12.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 {
  position: absolute;
  width: 161.0px;
  min-height: 98.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 3px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Bg_2 span#rtr-s-Bg_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 {
  position: absolute;
  width: 161.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_8 span#rtr-s-Item_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_7 {
  position: absolute;
  width: 123.38437652587899px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_301 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Hotspot_3 {
  position: absolute;
  width: 152.1903877258303px;
  height: 45.7555555555555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 {
  position: absolute;
  width: 161.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Item_7 span#rtr-s-Item_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_11 {
  position: absolute;
  width: 115.99999999999898px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_282 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Hotspot_2 {
  position: absolute;
  width: 152.1903877258303px;
  height: 45.7555555555555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Hotspot_1 {
  position: absolute;
  width: 40.0px;
  height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Panel_1 {
  width: 360.0px;
  height: 104.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 {
  position: absolute;
  width: 360.0px;
  min-height: 104.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(0,0,0,0.25));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_3 {
  position: absolute;
  width: 122.00097656250003px;
  min-height: 29.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_4 {
  position: absolute;
  width: 15.0px;
  height: 11.920103073120117px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_5 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_6 {
  position: absolute;
  width: 7.0px;
  height: 7.699999809265137px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_7 {
  position: absolute;
  width: 7.0px;
  height: 6.299999237060547px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Image_1 {
  position: absolute;
  width: 32.334611892699854px;
  height: 32.028985507246404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 #s-Path_8 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-df51227f-ae1a-4b96-aa41-59005030e7e6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}